.headerWrapper {
    background: linear-gradient(90deg, transparent 65%, rgba(249, 220, 36, .4) 0);
    padding: 0 13vw; 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 1em;
    max-width: 1200px;
}

.navList {
    display: flex;
    gap: 20px;
}

.navList li {
    display: inline;
    padding: 10px;
}

.navList a {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    color: #1a1a1a;
    text-decoration: underline;
    text-transform: capitalize;
    transition: color 0.3s ease;
}

.navList a:hover {
    color: var(--clr-org); 
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

.thumbnail {
    display: flex;
    align-items: center;
}

.profileImage {
    border-radius: 50%; /* Makes the image perfectly round */
    border: 2px solid rgba(255, 255, 255, 0.5); /* Optional: gives it a subtle border */
}