.heroWrapper {
    background: linear-gradient(90deg, transparent 65%, rgba(249, 220, 36, .4) 0);
    width: 100%;
    z-index: -1;
    min-height: 85vh;
    padding: 0 13vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    max-width: 900px;
    z-index: 1;
}

.intro {
    font-family: var(--ff-primary);
    font-size: var(--fs-h3);
    font-weight: var(--fw-reg);
    color: var(--clr-txt);
    margin-bottom: 1em;
}

.title {
    font-family: 'Lora';
    font-size: clamp(3rem, 8vw, 5rem);
    font-weight: 700;
    margin: 0 0 1rem 0;
    line-height: 1.1;
    color: #1a1a1a;
    white-space: nowrap;
}

.description {
    font-family: var(--ff-primary);
    font-size: var(--fs-h3);
    font-weight: var(--fw-reg);
    color: var(--clr-txt);
    margin-bottom: 1em;
}