.footer {
    flex-shrink: 0;
    background-color: rgba(249, 220, 36, 0.4);
    text-transform: uppercase;
    padding: 2em; 
    text-align: center;
    font-family: 'Roboto Mono', monospace; 
    color: #1a1a1a;
}

.poweredBy {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; 
}

.footerIcon {
    display: inline-block;
}

* {
    box-sizing: border-box;
}